html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    background-color: #f5f5f5 !important;
}

.navbar{
    box-shadow: none !important;
}

.nav-link{
    color: #110027 !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.hello-text{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #110027;
    padding-top: 70px;
}

.glad-text{
    font-size: 25px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #110027;
    line-height: 2;
}

.cust-container{
    padding-left: 30px;
    padding-right: 30px;
}

.divider-line{
    height: 5px;
    width: 180px;
    margin-top: 20px;
    margin-bottom: 25px;
    background-color: #110027;
}

.intro{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #110027;
    text-align: left;
}

.res-btn{
    background-color: #110027;
    color: #ffffff;
    font-family: 'Poppins';
    border-radius: 30px;
    font-weight: 600;
    text-transform: none;
    margin-left: 0px !important;
    margin-top: 20px;
}